<div class="header">
  <header>
    <div class="logoAndOption">
      <div class="logo">
        <img src="../../images/sb-logo.svg" alt="logo" />
      </div>
      <div class="option">
        <div class="dashboard">
            <input id="dashboard" name="sort" value="date" type="radio" [checked]="true">
          <label routerLink="dashboard" for="dashboard" class="optionType">Dashboard</label>
        </div>
        <div class="candidates">
            <input id="candidates" name="sort" value="date" type="radio">
          <label routerLink="/candiadte" for="candidates" class="optionType">Candidates</label>
        </div>
      </div>
    </div>
    <div class="profile">
        <div class="dropdown" *ngIf="showDropdown">
            <ul>
                <li><a (click)="logout()">Logout</a></li>
                <li><a routerLink="admin">Admin Panel</a></li>
            </ul>
        </div>
        <div class="profileImg">
            <img (click)="toggleDropdown()" [src]="photoUrl" alt="profileimg">
        </div>
        
    </div>
  </header>
</div>
