.main {
  width: 100%;
  height: 100%;
  background-color: rgb(239, 237, 237);
}

.container {
  padding: 30px;
}

.form {
  background-color: #fff;
  padding: 20px;
  /* display: flex; */
}

form {
  /* display: flex; */
}

.uploadResume {
  padding-bottom: 10px;
}

.uploadResume h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(159, 156, 156);
  margin-bottom: 10px;
}

.uploadResume label {
  padding-top: 10px;
}
.basic {
  /* display: flex; */
}

.basicDetails {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.basicDetails input {
  min-width: 400px;
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.proDetails {
  padding-top: 80px;
}

.proDetails h3 {
  border-bottom: 1px solid rgb(159, 156, 156);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.professionalDetail {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.professionalDetail select {
  width: 200px;
  background-color: rgb(217, 215, 215);
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.professionalDetail input {
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.currentSalary {
  position: relative;
  right: 25px;
}

.exp {
  display: flex;
  gap: 116px;
}

.expSalary {
  padding-left: 205px;
}

.pDetails {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.pDetails input {
  min-width: 400px;
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.pDetails select {
  min-width: 400px;
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.roleAndSkill {
  padding-bottom: 20px;
}

.notes {
  padding-top: 20px;
}

.notes textarea {
  border: 1px solid rgb(187, 186, 186);
  margin-top: 10px;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 92%;
  /* color: white; */
  overflow: hidden;
}

.tab .checkBox {
  opacity: 0;
  /* position: absolute; */
}

.tab-label {
  /* display: flex; */
  padding: 18px;
  /* background: gray; */
  font-weight: bold;
  cursor: pointer;
}

.head {
  border-bottom: 1px solid rgb(187, 186, 186);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-label:hover {
  /* background: black; */
}

.tab-content {
  max-height: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: all 0.35s;
}

.tab-content textarea {
    border: 1px solid rgb(187, 186, 186);
}

.cont {
    display: flex;
}

input:checked ~ .tab-content {
  max-height: 200px;
  padding: 10px;
}

.checkAddress {
  display: flex;
  align-items: center;
  gap: 5px;
}

.education {
    width: 92%;
}

.education .checkbox {
    opacity: 0;
}

.eduDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-top: 25px;
    justify-content: center;
}

.eduDetails .deleteBtn {
  position: absolute;
  display: flex;
  width: 88%;
  justify-content: right;
}

.eduDetails input {
    /* min-width: 780px; */
    min-width: 680px;

  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.expSec {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.companyName {
  display: flex;
  align-items: center;
}

.companyName label {
  width: 113px;
}

.startDate {
  display: flex;
  align-items: center;
}

.startDate label {
  width: 73px;
}

.educationDet input {
  min-width: 680px;
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.educationDet button {
  height: 22px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

.educationDet {
  justify-content: center;
    padding-top: 20px;
}

.eduDetails select {
    /* min-width: 780px; */
    min-width: 680px;

    height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.educationDet {
  display: flex;
  gap: 35px;
}

.instituteDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.deleteBtnn {
  display: flex;
  width: 100%;
  justify-content: right;
}

.experience {
  width: 92%;
}

.experience .checkbox {
  opacity: 0;
}


.submitBtn {
  background-color: black;
  color: #fff;
  width: 80px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}

.btn {
  display: flex;
  width: 92%;
  justify-content: right;
}