<div class="main">
  <div class="container">
    <div class="heading">
      <h4>Add Candidate</h4>
    </div>
    <div class="form">
      <form
        #userForm="ngForm"
        (ngSubmit)="userForm.form.valid && submitData(userForm, resume)"
      >
        <div class="uploadResume">
          <h3>Upload Resume</h3>
          <ng-container *ngFor="let resume of resume">
            <label for="">{{ resume.fieldDisplayName }}</label
            >
            <input
              (change)="onFileSelected($event)"
              #fieldName="ngModel"
              [(ngModel)]="resume.value"
              name="{{ resume.fieldName }}"
              type="file"
              required
            />
            <span *ngIf="userForm.submitted && !resume.value" style="color: red"
              >{{ resume.fieldDisplayName }} Required</span
            >
          </ng-container>
        </div>
        <h3>Basic Details</h3>
        <div class="basicDetails">
          <div *ngFor="let form of basicDetails; let i = index">
            <ng-container *ngIf="form.modelType == 'details'">
              <label>{{ form.fieldDisplayName }}</label
              >
              <input
                [(ngModel)]="form.value"
                name="{{ form.fieldName }}"
                type="{{ form.type }}"
                required
              />
              <span *ngIf="userForm.submitted && !form.value" style="color: red"
                >{{ form.fieldDisplayName }} Required</span
              >
            </ng-container>
          </div>
        </div>
        <div class="proDetails">
          <h3>Professional Details</h3>
          <div class="exp">
            <h5>Total Experience</h5>
            <h5>Relevant Experience</h5>
            <h5 class="currentSalary">Current Salary</h5>
            <h5 class="expSalary">Expected Salary</h5>
          </div>
          <div class="professionalDetail">
            <div class="proDetailsSection" *ngFor="let form of professionalDetails; let i = index">
              <ng-container *ngIf="form.modelType == 'exp'">
                <label>{{ form.fieldDisplayName }}</label
                >
                <input
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type !== 'RADIO'"
                  type="{{ form.type }}"
                  required
                />
                <select
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type == 'RADIO'"
                  required
                >
                <option selected disabled value="">Select</option>
                  <option
                    *ngFor="let exp of form.options"
                    value="{{ exp.value }}"
                  >
                    {{ exp.display }}
                  </option>
                </select>
                
                <span
                  *ngIf="userForm.submitted && !form.value"
                  style="color: red"
                  >{{ form.fieldDisplayName }} Required</span
                >
              </ng-container>
            </div>
          </div>
          <div class="pDetails">
            <div
              class="roleAndSkill"
              *ngFor="let form of professionalDetails; let i = index"
            >
              <ng-container *ngIf="form.modelType == 'det'">
                <label>{{ form.fieldDisplayName }}</label
                >
                <input
                  [(ngModel)]="form.value"
                  *ngIf="form.fieldName == 'exp_joining_date'"
                  type="date"
                  name="{{ form.fieldName }}"
                />
                <input
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.fieldName == 'offered_value'"
                  type="text"
                  name="{{ form.fieldName }}"
                />
                <select
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type == 'RADIO'"
                  required
                >
                <option selected disabled value="">Select</option>
                  <option
                    *ngFor="let option of form.options"
                    value="{{ option.value }}"
                  >
                    <ng-container>{{ option.display }}</ng-container>
                  </option></select
                >
                <span
                  *ngIf="
                    form.fieldDisplayName != 'Skills' &&
                    userForm.submitted &&
                    !form.value
                  "
                  style="color: red"
                  >{{ form.fieldDisplayName }} Required</span
                >
                <ng-container *ngIf="form.type == 'dropdown'">
                  <select
                    (change)="onSkillSelect($event)"
                    name="skill"
                    id=""
                    required
                  >
                    <option value="">Select Your skill</option>
                    <option
                      *ngFor="let skills of skillSet; let i = index"
                      [value]="skills.value"
                    >
                      {{ skills.label }}
                    </option></select
                  >
                  <span
                    *ngIf="userForm.submitted && skillBtn !== true"
                    style="color: red"
                    >{{ form.fieldDisplayName }} Required</span
                  >
                </ng-container>
              </ng-container>
            </div>
            <div class="noticePeriodSection" *ngFor="let form of professionalDetails; let i = index">
              <ng-container *ngIf="form.modelType == 'field'">
                <label>{{ form.fieldDisplayName }}</label
                >
                <input
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.fieldName == 'exp_joining_date'"
                  type="date"
                />
                <input
                  *ngIf="form.fieldName == 'offered_value'"
                  type="text"
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                />
                <select
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type == 'RADIO'"
                >
                <option selected disabled value="">Select</option>
                  <option
                    *ngFor="let option of form.options"
                    value="{{ option.value }}"
                  >
                    {{ option.display }}
                  </option></select
                >
                <span
                  *ngIf="
                    form.fieldDisplayName == 'Source' &&
                    userForm.submitted &&
                    !form.value
                  "
                  style="color: red"
                  >{{ form.fieldDisplayName }} Required</span
                >

                <ng-container *ngIf="form.type == 'boolean'">
                  <select
                    name="notice"
                    (change)="onDropdownChange($event)"
                    [(ngModel)]="evalue"
                  >
                    <option [value]="true">Yes</option>
                    <option [value]="false">No</option>
                  </select>
                </ng-container>

                <input
                  type="checkbox"
                  [checked]="value"
                  (change)="onCheckboxChange($event)"
                  *ngIf="form.type == 'checkbox'"
                  name=""
                  id=""
                />
              </ng-container>
            </div>
          </div>
        </div>
        <div class="notes" *ngFor="let notes of any">
          <label for="">{{ notes.fieldDisplayName }}</label
          >
          <textarea
            [(ngModel)]="notes.value"
            name="{{ notes.fieldName }}"
            id=""
            cols="206"
            rows="8"
          ></textarea><br>
          <span *ngIf="userForm.submitted && !notes.value" style="color: red;">{{notes.fieldName}} Required</span>
        </div>
        <div class="address">
          <div class="tabs">
            <div class="tab">
              <input class="checkBox" type="checkbox" id="check" />
              <div class="head">
                <h3>Address Details</h3>
                <label class="tab-label" for="check">Show</label>
              </div>
              <div class="tab-content">
                <div *ngFor="let address of address; let i = index">
                  <label *ngIf="address.fieldName == 'currentAddress'" for="">{{
                    address.fieldDisplayName
                  }}</label
                  >
                  <textarea
                    [(ngModel)]="address.value"
                    *ngIf="address.fieldName == 'currentAddress'"
                    name="{{ address.fieldName }}"
                    id=""
                    cols="98"
                    rows="8"
                  ></textarea><br>
                </div>
                <div *ngFor="let address of address; let i = index">
                  <label
                    *ngIf="address.fieldName == 'permanentAddress'"
                    for=""
                    >{{ address.fieldDisplayName }}</label
                  >
                  <textarea
                    [(ngModel)]="address.value"
                    *ngIf="address.fieldName == 'permanentAddress'"
                    name="{{ address.fieldName }}"
                    id=""
                    cols="98"
                    rows="8"
                  ></textarea>
                  <div class="checkAddress">
                    <input
                      class="addressCheck"
                      (change)="copyCurrentAddress($event.target,address)"
                      *ngIf="address.fieldName == 'permanentAddress'"
                      type="checkbox"
                      name=""
                      id=""
                    />
                    <label
                      *ngIf="address.fieldName == 'permanentAddress'"
                      for=""
                      >Same as Current Address</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="education">
          <input class="checkbox" type="checkbox" id="checkk" />
          <div class="head">
            <h3>Education Details</h3>
            <label class="tab-label" for="checkk" (click)="addEduu()"
              >+Add</label
            >
          </div>
          <div class="eduDetails">
            <div class="deleteBtn"></div>
            <!-- <div  *ngFor="let education of education;let i = index">
            <div class="deleteBtnn">
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree'">Delete</button>
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree_2'">Delete</button>
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree_3'">Delete</button>
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree_4'">Delete</button>
          </div>
            <label for="">{{ education.fieldDisplayName }}</label><br>
            <ng-container *ngFor="let newEducation of newEducation">
            <input [(ngModel)]="education.value" name="{{education.fieldName}}" *ngIf="education.type == 'TEXT'" type="text" />
            <select [(ngModel)]="education.value" name="{{education.fieldName}}" id="" *ngIf="education.type == 'RADIO'">
              <option *ngFor="let option of education.options" value="{{option.value}}">
                {{ option.display }}
              </option>
            </select>
            <input [(ngModel)]="education.value" name="{{education.fieldName}}" type="date" *ngIf="education.dataType == 'date'" />
          </ng-container>
          </div> -->
            <div
              class="educationDet"
              *ngFor="let education of items; let i = index"
            >
              <div class="instituteDetails">
                <div class="InstituteName">
                  <label for="">Institute name</label>
                  <input
                    name="institute_{{ i }}"
                    [(ngModel)]="education.institute"
                    type="text"
                  />
                </div>
                <div class="degreeName">
                  <label for="">Degree</label>
                  <select
                    name="opt_{{ i }}"
                    [(ngModel)]="education.degree"
                    id=""
                  >
                  <option selected disabled value="">Select</option>
                    <option value="Btech">Btech</option>
                    <option value="BCA">BCA</option>
                    <option value="Bsc">Bsc</option></select
                  >
                </div>
              </div>
              <div class="date">
                <div class="startDate">
                  <label for="">Start Date</label>
                  <input
                    name="start_{{ i }}"
                    [(ngModel)]="education.startTime"
                    type="date"
                    id=""
                  />
                </div>
                <div class="endDate">
                  <label for="">End date</label>
                  <input
                    name="end_{{ i }}"
                    [(ngModel)]="education.endTime"
                    type="date"
                    id=""
                  />
                </div>
              </div>
              <button (click)="deleteEdu(i)">Delete</button>
            </div>
          </div>
        </div>
        <div class="experience">
          <input class="checkbox" type="checkbox" id="checkexp" />
          <div class="head">
            <h3>Experience Details</h3>
            <label class="tab-label" for="checkexp" (click)="addExpp()"
              >+Add</label
            >
          </div>
          <!-- <div class="eduDetails" *ngIf="expBtn">
          <div  *ngFor="let experience of experience">
            <label for="">{{ experience.fieldDisplayName }}</label><br>
            <input [(ngModel)]="experience.value" name="{{experience.fieldName}}" *ngIf="experience.type == 'TEXT'" type="text" />
            <input type="date" [(ngModel)]="experience.value" name="{{experience.fieldName}}" *ngIf="experience.dataType == 'date'" />
          </div>
        </div> -->
          <div class="expSec">
            <div
              class="educationDet"
              *ngFor="let education of exp; let i = index"
            >
              <div class="instituteDetails">
                <div class="companyName">
                  <label for="">Company name</label>
                  <input
                    name="company_{{ i }}"
                    [(ngModel)]="education.company"
                    type="text"
                  />
                </div>
                <div class="degreeName">
                  <label for="">Job Title</label>
                  <input
                    type="text"
                    [(ngModel)]="education.jobTitle"
                    name="job_{{ i }}"
                  />
                </div>
              </div>
              <div class="date">
                <div class="startDate">
                  <label for="">Start Date</label>
                  <input
                    name="startDate_{{ i }}"
                    [(ngModel)]="education.startDate"
                    type="date"
                    id=""
                  />
                </div>
                <div class="endDate">
                  <label for="">End date</label>
                  <input
                    name="endDate_{{ i }}"
                    [(ngModel)]="education.endDate"
                    type="date"
                    id=""
                  />
                </div>
              </div>
              <button (click)="deleteExp(i)">Delete</button>
            </div>
          </div>
        </div>
        <div class="btn">
          <button class="submitBtn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
