<div class="main">
  <div class="container">
    <div class="heading">
      <h4 [routerLink]="['/candiadte']">Add Candidate</h4>
    </div>
    <div class="form">
      <form
        #userForm="ngForm"
        (ngSubmit)="userForm.form.valid && submitData(userForm, resume)"
      >
        <div class="uploadResume">
          <h3>Upload Resume</h3>
          <ng-container *ngFor="let resume of resume">
            <label for="">{{ resume.fieldDisplayName }}<span class="mandatoryIcon">*</span></label
            >
            <input
              (change)="onFileSelected($event)"
              #fieldName="ngModel"
              [(ngModel)]="resume.value"
              name="{{ resume.fieldName }}"
              type="file"
              required
            />
            <span *ngIf="userForm.submitted && !resume.value" style="color: red"
              >{{ resume.fieldDisplayName }} Required</span
            >
          </ng-container>
        </div>
        <h3>Basic Details</h3>
        <div class="basicDetails">
          <div *ngFor="let form of basicDetails; let i = index">
            <ng-container *ngIf="form.modelType == 'details'">
              <label>{{ form.fieldDisplayName }}<span class="mandatoryIcon">*</span></label
              >
              <input
                [(ngModel)]="form.value"
                name="{{ form.fieldName }}"
                type="{{ form.type }}"
                required
              />
              <span *ngIf="userForm.submitted && !form.value" style="color: red"
                >{{ form.fieldDisplayName }} Required</span
              >
            </ng-container>
          </div>
        </div>
        <!-- <div class="proDetails">
          <h3>Professional Details</h3>
          <div class="exp">
            <h5>Total Experience</h5>
            <h5>Relevant Experience</h5>
            <h5 class="currentSalary">Current Salary</h5>
            <h5 class="expSalary">Expected Salary</h5>
          </div>
          <div class="professionalDetail">
            <div class="proDetailsSection" *ngFor="let form of professionalDetails; let i = index">
              <ng-container *ngIf="form.modelType == 'exp'">
                <label>{{ form.fieldDisplayName }}</label>
                <input
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type !== 'RADIO'"
                  type="{{ form.type }}"
                  required
                  (input)="handleExpectedSalaryInput(form)"
                />
                <select
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type == 'RADIO'"
                  required
                >
                  <option selected disabled value="">Select</option>
                  <option *ngFor="let exp of form.options" value="{{ exp.value }}">
                    {{ exp.display }}
                  </option>
                </select>
            
                <span
                  *ngIf="userForm.submitted && !form.value"
                  style="color: red"
                >
                  {{ form.fieldDisplayName }} Required
                </span>
              </ng-container>
            </div>
            
          </div>
          <div class="pDetails">
            <div
              class="roleAndSkill"
              *ngFor="let form of professionalDetails; let i = index"
            >
              <ng-container *ngIf="form.modelType == 'det'">
                <label>{{ form.fieldDisplayName }}</label
                >
                <input
                  [(ngModel)]="form.value"
                  *ngIf="form.fieldName == 'exp_joining_date'"
                  type="date"
                  name="{{ form.fieldName }}"
                />
                <input
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.fieldName == 'offered_value'"
                  type="text"
                  name="{{ form.fieldName }}"
                />
                <select
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type == 'RADIO'"
                  required
                >
                <option selected disabled value="">Select</option>
                  <option
                    *ngFor="let option of form.options"
                    value="{{ option.value }}"
                  >
                    <ng-container>{{ option.display }}</ng-container>
                  </option></select
                >
                <span
                  *ngIf="
                    form.fieldDisplayName != 'Skills' &&
                    userForm.submitted &&
                    !form.value
                  "
                  style="color: red"
                  >{{ form.fieldDisplayName }} Required</span
                >
                <ng-container *ngIf="form.type == 'dropdown'">
                  <select
                    (change)="onSkillSelect($event)"
                    name="skill"
                    id=""
                    required
                  >
                    <option value="">Select Your skill</option>
                    <option
                      *ngFor="let skills of skillSet; let i = index"
                      [value]="skills.value"
                    >
                      {{ skills.label }}
                    </option></select
                  >
                  <span
                    *ngIf="userForm.submitted && skillBtn !== true"
                    style="color: red"
                    >{{ form.fieldDisplayName }} Required</span
                  >
                </ng-container>
              </ng-container>
            </div>
            <div class="noticePeriodSection" *ngFor="let form of professionalDetails; let i = index">
              <ng-container *ngIf="form.modelType == 'field'">
                <label>{{ form.fieldDisplayName }}</label
                >
                <input
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.fieldName == 'exp_joining_date'"
                  type="date"
                />
                <input
                  *ngIf="form.fieldName == 'offered_value'"
                  type="text"
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                />
                <select
                  [(ngModel)]="form.value"
                  name="{{ form.fieldName }}"
                  *ngIf="form.type == 'RADIO'"
                >
                <option selected disabled value="">Select</option>
                  <option
                    *ngFor="let option of form.options"
                    value="{{ option.value }}"
                  >
                    {{ option.display }}
                  </option></select
                >
                <span
                  *ngIf="
                    form.fieldDisplayName == 'Source' &&
                    userForm.submitted &&
                    !form.value
                  "
                  style="color: red"
                  >{{ form.fieldDisplayName }} Required</span
                >

                <ng-container *ngIf="form.type == 'boolean'">
                  <select
                    name="notice"
                    (change)="onDropdownChange($event)"
                    [(ngModel)]="evalue"
                  >
                    <option [value]="true">Yes</option>
                    <option [value]="false">No</option>
                  </select>
                </ng-container>

                <input
                  type="checkbox"
                  [checked]="value"
                  (change)="onCheckboxChange($event)"
                  *ngIf="form.type == 'checkbox'"
                  name=""
                  id=""
                />
              </ng-container>
            </div>
          </div>
        </div> -->


        <div class="proDetails">
          <h3>Professional Details</h3>
          <div class="professionalDetails">
            <div class="professionalDetailSection pdSection1">
              <div class="form-group">
                <label class="formGroupTitle">Total Experience <span class="mandatoryIcon">*</span></label> 
                <div class="formField_totalExp formFields">
                  <div>
                    <label class="formGroupTitle">Years</label>
                    <select name="totalExp" id="totalExp" class="formField" [(ngModel)] = "pdDetails.totalExperience">
                      <option value="" disabled selected>Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>  
                  </div>
                  <div>
                    <label class="formGroupTitle">Months</label>
                    <select name="totalExp" id="totalExp" class="formField" [(ngModel)] = "pdDetails.totalMonthOfExperience">
                      <option value="" disabled selected>Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>                      
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>  
                  </div>    
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle">Relevant Experience <span class="mandatoryIcon">*</span></label> 
                <div class="formField_relevantExp formFields">
                  <div>
                    <label class="formGroupTitle">Years</label>
                    <select name="totalExp" id="totalExp" class="formField" [(ngModel)] = "pdDetails.relevantExperience">
                      <option value="" disabled selected>Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>  
                  </div>
                  <div>
                    <label class="formGroupTitle">Months</label>
                    <select name="totalExp" id="totalExp" class="formField" [(ngModel)] = "pdDetails.totalMonthOfRelevantExperience">
                      <option value="" disabled selected>Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>                      
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>  
                  </div>    
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle">Current Salary <span class="mandatoryIcon">*</span></label> 
                <div class="formField_currentSalary formFields">
                  <div>
                    <label class="formGroupTitle">Per Year</label>
                    <input name="currentYearSalary" id="currentYearSalary" class="formField" [(ngModel)] = "pdDetails.currentSalaryPerYear">
                  </div>
                  <div>
                    <label class="formGroupTitle">Per Month</label>
                    <input name="currentMonthSalary" id="currentMonthSalary" class="formField" [(ngModel)] = "pdDetails.currentSalaryPerMonth">
                  </div>    
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle">Expected Salary <span class="mandatoryIcon">*</span></label> 
                <div class="formField_expSalary formFields">
                  <div>
                    <label class="formGroupTitle">Per Year</label>
                    <input name="expectedYearSalary" id="expectedYearSalary" class="formField" [(ngModel)] = "pdDetails.expectedSalaryPerYear">
                  </div>
                  <div>
                    <label class="formGroupTitle">Per Month</label>
                    <input name="expectedMonthSalary" id="expectedMonthSalary" class="formField" [(ngModel)] = "pdDetails.expectedSalaryPerMonth">
                  </div>    
                </div> 
              </div> 
              <div class="form-group">
                <label class="formGroupTitle"> Applied role <span class="mandatoryIcon">*</span></label> 
                <div class="formField_currentJobTitle  form_field_single">
                  <div>
                    <select name="currentJobTitle" id="currentJobTitle" class="formField" [(ngModel)] = "pdDetails.currentJobTitle">
                      <option value="" disabled selected>Select</option>
                      <option value="UI/UX">UI/UX</option>
                      <option value="React">React</option>
                      <option value="Angular JS">Angular JS</option>
                      <option value="React Native">React Native</option>
                    </select>  
                  </div>  
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle">Skills<span class="mandatoryIcon">*</span></label> 
                <div class="formField_skillSet form_field_single">
                  <div>
                    <select name="totalExp" id="totalExp" class="formField" [(ngModel)] = "pdDetails.skillSet" multiple size="3">
                      <option value="" disabled selected>Select</option>
                      <option value="[{label:'React',value:'React'}]">React</option>
                      <option value="[{label:'Angular Js',value:'Angular Js'}]">Angular JS</option>
                      <option value="[{label:'React Native',value:'React Native'}]">React Native</option>
                      <option value="[{label:'Angular',value:'Angular'}]">Angular</option>
                      <option value="[{label:'Vue Js',value:'Vue Js'}]">Vue Js</option>
                    </select>  
                  </div> 
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle">Expected Joining Date</label> 
                <div class="formField_expectedJoiningDate form_field_single">
                  <div>
                    <input type="date"  name="expectedJoiningDate" id="expectedJoiningDate" class="formField" [(ngModel)] = "pdDetails.expectedJoiningDate">
                  </div>    
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle"> Notice period <span class="mandatoryIcon">*</span></label> 
                <div class="formField_noticePeriod form_field_single">
                  <div>
                    <select name="noticePeriod" id="noticePeriod" class="formField" [(ngModel)] = "pdDetails.noticePeriod">
                      <option value="" disabled selected>Select</option>
                      <option value="15 days">15 days</option>
                      <option value="30 days">30 days</option>
                      <option value="45 days">45 days</option>
                      <option value="60 days">60 days</option>
                      <option value="Immediate Joiner">Immediate Joiner</option>
                    </select> 
                  </div>
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle"> Other Offers </label> 
                <div class="formField_otherOffers form_field_single">
                  <div>
                    <select name="otherOffers" id="otherOffers" class="formField" [(ngModel)] = "pdDetails.otherOffers">
                      <option value=true>Yes</option>
                      <option value=false>No</option>
                    </select>  
                  </div>  
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle"> Offered Value in LPA </label> 
                <div class="formField_offeredValue form_field_single">
                  <div>
                     <input type="text" name="offeredValue" id="offeredValue" [(ngModel)]="pdDetails.offeredValue"
                     [disabled]="pdDetails.otherOffers=='true' ? false : true"/>
                  </div>  
                </div> 
              </div> 
              <div class="form-group">
                <label class="formGroupTitle">Serving Notice Period 
                  <span>
                    <input type="checkbox" for="isNegotiable" [(ngModel)]="pdDetails.isNegotiable" style="margin-inline: 10px;"/>
                    <label id="isNegotiable">NP Negotiable</label>
                  </span>
                </label> 
                <div class="formField_otherOffers form_field_single">
                  <div>
                    <select name="servedNoticePeriod" id="servedNoticePeriod" class="formField" [(ngModel)] = "pdDetails.servedNoticePeriod">
                      <option value=true>Yes</option>
                      <option value=false>No</option>
                    </select>  
                  </div>  
                </div> 
              </div>
              <div class="form-group">
                <label class="formGroupTitle">Source </label> 
                <div class="formField_otherOffers form_field_single">
                  <div>
                    <select name="source" id="source" class="formField" [(ngModel)] = "pdDetails.source">
                      <option value='Nakuri'>Nakuri</option>
                      <option value='LinkedIn'>LinkedIn</option>
                      <option value='Indeed'>Indeed</option>
                      <option value='Referral'>Referral</option>
                      <option value='Others'>Others</option>
                    </select>  
                  </div>  
                </div> 
              </div>                  
            </div>
          </div>
        </div>

        <div class="notes">
          <label for="" style="display: block; padding-bottom: 20px;">Notes</label>
          <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="pdDetails.remarks" [config]="editorConfig"></angular-editor>
          <!-- <span *ngIf="userForm.submitted && !notes.value" style="color: red;">{{notes.fieldName}} Required</span> -->
        </div>

        <div class="address">
          <div class="tabs">
            <div class="tab">
              <input class="checkBox" type="checkbox" id="check" />
              <div class="head">
                <h3>Address Details</h3>
                <label class="tab-label" for="check">Show</label>
              </div>
              <div class="tab-content">
                <div *ngFor="let address of address; let i = index">
                  <label *ngIf="address.fieldName == 'currentAddress'" for="">{{
                    address.fieldDisplayName
                  }}</label
                  >
                  <textarea
                    [(ngModel)]="address.value"
                    *ngIf="address.fieldName == 'currentAddress'"
                    name="{{ address.fieldName }}"
                    id=""
                    cols="98"
                    rows="8"
                  ></textarea><br>
                </div>
                <div *ngFor="let address of address; let i = index">
                  <label
                    *ngIf="address.fieldName == 'permanentAddress'"
                    for=""
                    >{{ address.fieldDisplayName }}</label
                  >
                  <textarea
                    [(ngModel)]="address.value"
                    *ngIf="address.fieldName == 'permanentAddress'"
                    name="{{ address.fieldName }}"
                    id=""
                    cols="98"
                    rows="8"
                  ></textarea>
                  <div class="checkAddress">
                    <input
                      class="addressCheck"
                      (change)="copyCurrentAddress($event.target,address)"
                      *ngIf="address.fieldName == 'permanentAddress'"
                      type="checkbox"
                      name=""
                      id=""
                    />
                    <label
                      *ngIf="address.fieldName == 'permanentAddress'"
                      for=""
                      >Same as Current Address</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="education">
          <input class="checkbox" type="checkbox" id="checkk" />
          <div class="head">
            <h3>Education Details</h3>
            <label class="tab-label" for="checkk" (click)="addEduu()"
              >+Add</label
            >
          </div>
          <div class="eduDetails">
            <div class="deleteBtn"></div>
            <!-- <div  *ngFor="let education of education;let i = index">
            <div class="deleteBtnn">
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree'">Delete</button>
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree_2'">Delete</button>
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree_3'">Delete</button>
            <button type="button" (click)="deleteEduObj()" *ngIf="education.fieldName == 'degree_4'">Delete</button>
          </div>
            <label for="">{{ education.fieldDisplayName }}</label><br>
            <ng-container *ngFor="let newEducation of newEducation">
            <input [(ngModel)]="education.value" name="{{education.fieldName}}" *ngIf="education.type == 'TEXT'" type="text" />
            <select [(ngModel)]="education.value" name="{{education.fieldName}}" id="" *ngIf="education.type == 'RADIO'">
              <option *ngFor="let option of education.options" value="{{option.value}}">
                {{ option.display }}
              </option>
            </select>
            <input [(ngModel)]="education.value" name="{{education.fieldName}}" type="date" *ngIf="education.dataType == 'date'" />
          </ng-container>
          </div> -->
            <div
              class="educationDet"
              *ngFor="let education of items; let i = index"
            >
              <div class="instituteDetails">
                <div class="InstituteName">
                  <label for="">Institute name</label>
                  <input
                    name="institute_{{ i }}"
                    [(ngModel)]="education.institute"
                    type="text"
                  />
                </div>
                <div class="degreeName">
                  <label for="">Degree</label>
                  <select
                    name="opt_{{ i }}"
                    [(ngModel)]="education.degree"
                    id=""
                  >
                  <option selected disabled value="">Select</option>
                    <option value="Btech">Btech</option>
                    <option value="BCA">BCA</option>
                    <option value="Bsc">Bsc</option></select
                  >
                </div>
              </div>
              <div class="date">
                <div class="startDate ">
                  <label for="">Start Date</label>
                  <input
                    name="start_{{ i }}"
                    [(ngModel)]="education.startTime"
                    type="date"
                    id=""
                  />
                </div>
                <div class="endDate">
                  <label for="">End date</label>
                  <input
                    name="end_{{ i }}"
                    [(ngModel)]="education.endTime"
                    type="date"
                    id=""
                  />
                </div>
              </div>
              <button (click)="deleteEdu(i)">Delete</button>
            </div>
          </div>
        </div>
        <div class="experience">
          <input class="checkbox" type="checkbox" id="checkexp" />
          <div class="head">
            <h3>Experience Details</h3>
            <label class="tab-label" for="checkexp" (click)="addExpp()"
              >+Add</label
            >
          </div>
          <!-- <div class="eduDetails" *ngIf="expBtn">
          <div  *ngFor="let experience of experience">
            <label for="">{{ experience.fieldDisplayName }}</label><br>
            <input [(ngModel)]="experience.value" name="{{experience.fieldName}}" *ngIf="experience.type == 'TEXT'" type="text" />
            <input type="date" [(ngModel)]="experience.value" name="{{experience.fieldName}}" *ngIf="experience.dataType == 'date'" />
          </div>
        </div> -->
          <div class="expSec">
            <div
              class="educationDet"
              *ngFor="let education of exp; let i = index"
            >
              <div class="instituteDetails">
                <div class="companyName">
                  <label for="">Company name</label>
                  <input
                    name="company_{{ i }}"
                    [(ngModel)]="education.company"
                    type="text"
                  />
                </div>
                <div class="degreeName">
                  <label for="">Job Title</label>
                  <input
                    type="text"
                    [(ngModel)]="education.jobTitle"
                    name="job_{{ i }}"
                  />
                </div>
              </div>
              <div class="date">
                <div class="startDate">
                  <label for="">Start Date</label>
                  <input
                    name="startDate_{{ i }}"
                    [(ngModel)]="education.startDate"
                    type="date"
                    id=""
                  />
                </div>
                <div class="endDate">
                  <label for="">End date</label>
                  <input
                    name="endDate_{{ i }}"
                    [(ngModel)]="education.endDate"
                    type="date"
                    id=""
                  />
                </div>
              </div>
              <button (click)="deleteExp(i)">Delete</button>
            </div>
          </div>
        </div>
        <div class="btn">
          <button class="submitBtn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
