.pipeLine .status {
  border-bottom: 1px solid #dddfe4;
  padding-top: 15px;
}

.pipeLine .status h3 {
  padding-bottom: 16px;
  font-size: 18px;
  color: #575757;
}

.pipeLine .checkStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.pipeLine .statusCand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statusCand img {
  max-width: 25px;
  cursor: pointer;
}

.statusCand button {
  width: 110px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0px 14px;
  box-shadow: none !important;
  cursor: pointer;
  min-width: 120px;
  height: 36px;
}

.pipeLine .status p {
  padding-bottom: 12px;
  font-size: 16px;
  color: #575757;
}

.statusHead {
  display: flex;
  justify-content: space-between;
}
.statusHead img {
  cursor: pointer;
}

/* dropdown */

.editCandidateStatus {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #01010187;
}

.editCand {
  padding: 24px;
  border-radius: 18px;
  min-width: 500px;
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  left: 35%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.editCandHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 0 0 12px;
}
.editCandHead h3 {
  font-size: 28px;
  line-height: 42px;
}
.editCandHead img {
  cursor: pointer;
}
.editCand form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
}
.editCand form label {
  font-size: 14px;
  color: #575757;
}

.editCand form select {
  padding: 5px;
  border: 1px solid #dddfe4;
  color: #575757;
}

.editCand form button {
  min-width: 120px;
  cursor: pointer;
  background-color: #191919;
  color: #fff;
  text-decoration: none;
  height: 36px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0px 14px;
  border: 1px solid #191919;
}

.changeCandStatus {
  display: flex;
  flex-direction: column;
}

.statusSubmit {
  display: flex;
  justify-content: flex-end;
}
.candidatesComments span {
  font-size: 12px;
  color: #868889;
}
