<div class="main">
    <div class="container">
        <div class="overviewAndFilter">
            <div class="overviewHead">
                <h4>Candidate Overview(670)</h4>
            </div>
            <div class="searchAndFilter">
                <div class="search">
                    <input type="text" placeholder="Search Candidate ID/Name">
                </div>
                <div class="filter">
                    <button>Filters</button>
                </div>
                <div class="addCandidate">
                    <button>Add Candidate</button>
                </div>
            </div>
        </div>
        <div class="candidateTable">
            <table>
                <tbody>
                    <tr class="mainHead">
                        <th>CANDIDATE NAME</th>
                        <th>APPLIED ROLE</th>
                        <th>REL EXP</th>
                        <th>N PERIOD</th>
                        <th>CTC</th>
                        <th>ADDED BY</th>
                        <th>STATUS</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="details">
                        <td class="candidateName">Nirmal Nirmal <br><span class="canNum">SBC0987/Others</span></td>
                        <td>React JS</td>
                        <td>1.5 yrs</td>
                        <td>15 Days</td>
                        <td>3,00,000</td>
                        <td>Bharathi B <br><span class="date">17 Feb 2023</span></td>
                        <td><span class="rejected">Rejected</span></td>
                        <td>Rejected</td>
                        <td>Rejected</td>
                    </tr>
                    <tr class="details">
                        <td class="candidateName">Ajay Singh <br><span class="canNum">SBC0987/Others</span></td>
                        <td>React JS</td>
                        <td>1.5 yrs</td>
                        <td>15 Days</td>
                        <td>3,00,000</td>
                        <td>Lakshmi Narasimhan Kumar <br><span class="date">17 Feb 2023</span></td>
                        <td><span class="screening">Screening</span></td>
                        <td>Rejected</td>
                        <td>Rejected</td>
                    </tr>
                    <tr class="details">
                        <td class="candidateName">Ajay Singh <br><span class="canNum">SBC0987/Others</span></td>
                        <td>Angular</td>
                        <td>1.5 yrs</td>
                        <td>15 Days</td>
                        <td>3,00,000</td>
                        <td>Lakshmi Narasimhan Kumar <br><span class="date">17 Feb 2023</span></td>
                        <td><span class="DSRound">DS Round & API</span></td>
                        <td>Rejected</td>
                        <td>Rejected</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>