<div class="main">
  <div class="container">
    <div class="overviewAndFilter">
      <div class="overviewHead">
        <h4>Candidate Overview</h4>
      </div>
      <div class="searchAndFilter">
        <div class="search">
          <input
            [(ngModel)]="serachValue"
            (ngModelChange)="search(serachValue)"
            name="search"
            type="text"
            placeholder="Search Candidate ID/Name"
          />
        </div>
        <div class="addCandidate">
          <button routerLink="/addcandidate">Add Candidate</button>
        </div>
      </div>
    </div>
    <div *ngIf="hideChipsFilter" class="filterSec">
      <div class="jobOpening">
        <label for="jobOpeningSelect">Job Opening</label><br />
        <select
          id="jobOpeningSelect"
          (change)="jobOpenings($event)"
          [(ngModel)]="selectedFilter"
        >
          <option value="">Please Select</option>
          <option
            *ngFor="let jobOpening of candidateSkillSetsArr"
            [value]="jobOpening"
          >
            {{ jobOpening }}
          </option>
        </select>
      </div>
      <div class="noticePeriod">
        <label for="">Notice Period</label><br />
        <select
          (change)="noticePeriod($event)"
          [(ngModel)]="noticePeriodFilter"
        >
          <option value="">Please Select</option>
          <option
            *ngFor="let NoticePeriod of NoticePeriodArr"
            value="{{ NoticePeriod }}"
          >
            {{ NoticePeriod }}
          </option>
        </select>
      </div>
      <div class="source">
        <label for="">Source</label><br />
        <select (change)="source($event)" [(ngModel)]="sourceFilter">
          <option value="">Please Select</option>
          <option *ngFor="let source of SourceArr" value="{{ source }}">
            {{ source }}
          </option>
        </select>
      </div>
      <div class="AddedBy">
        <label for="">Added by</label><br />
        <select (change)="addedBy($event)" [(ngModel)]="addedByFilter">
          <option value="">Please Select</option>
          <option
            *ngFor="let interviewedBy of interviewedByArr"
            value="{{ interviewedBy }}"
          >
            {{ interviewedBy }}
          </option>
        </select>
      </div>
      <div class="startAndEndDate">
        <label for="">Start and End Date</label><br />
        <input
          type="text"
          matInput
          ngxDaterangepickerMd
          style="width: 180px"
          [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
          [(ngModel)]="selected"
          name="daterange"
          placeholder="DD-MM-YYYY~DD-MM-YYYY"
          #pickerr
          (change)="date()"
        />
      </div>
    </div>
    <div style="display: flex; gap: 10px">
      <div *ngIf="filterChips == true" class="filterChips">
        <span class="filter"
          >{{ selectedFilter }}
          <span (click)="closeFilter()" class="filterClose">X</span></span
        >
      </div>
      <div class="filterChips" *ngIf="noticeFilterChips == true">
        <span class="filter"
          >{{ noticePeriodFilter }}
          <span (click)="closeNoticeFilter()" class="filterClose">X</span></span
        >
      </div>
      <div class="filterChips" *ngIf="sourceFilterChips == true">
        <span class="filter"
          >{{ sourceFilter }}
          <span (click)="closeSourceFilter()" class="filterClose">X</span></span
        >
      </div>
      <div class="filterChips" *ngIf="addedByFilterChips == true">
        <span class="filter"
          >{{ addedByFilter }}
          <span (click)="closeaddedByFilter()" class="filterClose"
            >X</span
          ></span
        >
      </div>
    </div>
    <app-candidate-table
      [candidateData]="candidateIndo"
      [hideChipsFilter]="hideChipsFilter"
    ></app-candidate-table>
  </div>
</div>

<div id="toasterContainer"></div>
