<!-- <h1 >Welcome to Sketch Brahma</h1> -->
<!-- <div class="main">
  <div class="container">
    <div class="logo">
      <img src="./../../images/sb-logo.svg" alt="sblogo" />
    </div>
    <div class="signIn">
      <div class="heading">
        <h2>Sign In</h2>
      </div>
      <div class="loginBtn">
        <button
          mat-button
          mat-button
          style="padding: 10px"
          (click)="signInWithGoogle()"
        >
          <mat-icon style="width: 50px; height: 30px" svgIcon="logo"></mat-icon>
          Login With Google
        </button>
        <button (click)="googleLogin()">Google</button>
      </div>
    </div>
  </div>
</div> -->

<div class="mainFrame">
  <div class="mainFrame_padd">
    <h2>ATS Sketch </h2>
    <div id="buttonDiv"></div> 
  </div>
</div>


<div id="toasterContainer"></div>