.main {
    width: 100%;
    height: 975px;
    display: flex;
    justify-content: center;
    background-color: #ededed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    gap: 50px;
}

.signIn {
    width: 280px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 35px;
}

.signIn h2 {
    font-weight: 400;
}


#toasterContainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #toasterContainer.show {
    opacity: 1;
  }

  .mainFrame{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .mainFrame_padd{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  #buttonDiv{
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }