.data-card {
  border-radius: 4px;
}

.candData {
  overflow-y: scroll;
}

.updates {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.statusTitle {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 314px;
  height: 383px;
}

.updatesHead {
  border-bottom: 1px solid #f1f1f1;
  padding: 14px 20px;
}

.updateDetails {
  width: 80px;
  height: 80px;
  margin: auto;
}

.updateDetails p {
  width: 102px;
  font-size: 12px;
  font-weight: 500;
}

.updateDetails img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.updatesHead h6 {
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
}

.candidateDetails {
  display: flex;
  flex-direction: column;
}

.person {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 20px;
  border-bottom: 1px solid #f1f1f1;
}

.candName {
  display: flex;
  justify-content: space-between;
}

.candName strong {
  font-size: 14px;
  color: #191919;
}

.candidateFirstName {
  color: blue;
  cursor: pointer;
}

.person strong {
  font-weight: bold;
}

.person p {
  font-size: 12px;
  font-size: 13px;
  color: #191919;
  font-weight: 400;
}
