<div class="main">
  <div class="container">
    <div class="dashboardAndSort">
      <div class="dashboardHead">
        <h4>Recent Updates</h4>
      </div>
      <div class="sort">
        <div class="interviewer">
          <label for="cars">Filter By:</label>
        </div>
        <div class="role">
          <select (change)="dashFilter($event)" id="skills">
            <option value="volvo" disabled selected>Select Role</option>
            <option
              *ngFor="let skill of candidateSkillSetsArr"
              value="{{ skill }}"
            >
              {{ skill }}
            </option>
          </select>
        </div>
        <div class="calendar">
          <input
            type="text"
            matInput
            ngxDaterangepickerMd
            style="width: 180px"
            [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
            [(ngModel)]="selected"
            name="daterange"
            placeholder="DD-MM-YYYY~DD-MM-YYYY"
            #pickerr
          />
        </div>
      </div>
    </div>

    <div class="updates">
      <app-dashboard-card
        [item]="offered"
        [title]="offeredTitle"
      ></app-dashboard-card>
      <app-dashboard-card
        [item]="offerAccepted"
        [title]="offerAcceptedTitle"
      ></app-dashboard-card>
      <app-dashboard-card
        [item]="candidateReject"
        [title]="offerRejectedTitle"
      ></app-dashboard-card>
      <app-dashboard-card
        [item]="candidateDeclined"
        [title]="offerDeclinedTitle"
      ></app-dashboard-card>
      <app-dashboard-card
        [item]="candidateJoined"
        [title]="joinedTitle"
      ></app-dashboard-card>
    </div>
  </div>
</div>
