<div class="main">
  <div class="container">
    <div class="dashboardAndSort">
      <div class="dashboardHead">
        <h4>Candidate Dashboard</h4>
      </div>
      <div class="sort">
        <div class="interviewer">
          <label for="cars">Choose a car:</label>
          <select id="cars">
            <option value="volvo">Select interviewer</option>
            <option value="saab">Saab</option>
            <option value="vw">VW</option>
            <option value="audi" selected>Audi</option>
          </select>
        </div>
        <div class="role">
          <select id="cars">
            <option value="volvo">Select interviewer</option>
            <option value="saab">Saab</option>
            <option value="vw">VW</option>
            <option value="audi" selected>Audi</option>
          </select>
        </div>
        <div class="calendar">
          <input type="date" name="date" id="" />
          <!-- <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field> -->
        </div>
      </div>
    </div>
    <div class="dashboardDetails">
      <div class="interviewDetails">
        <h5 class="detailReview">Yet to contact</h5>
        <h5 class="result">17</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Screening</h5>
        <h5 class="result">0</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Design Task Given</h5>
        <h5 class="result">8</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Design Technical Call</h5>
        <h5 class="result">11</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Task Verificatio</h5>
        <h5 class="result">0</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">DS Round & API</h5>
        <h5 class="result">71</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Technical Interview</h5>
        <h5 class="result">11</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">HR Round</h5>
        <h5 class="result">1</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Offered</h5>
        <h5 class="result">0</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Offer Accepted</h5>
        <h5 class="result">3</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Offer Declined</h5>
        <h5 class="result">4</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Joined</h5>
        <h5 class="result">2</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Rejected</h5>
        <h5 class="result">444</h5>
      </div>
    </div>
    <h4>Recent Updates</h4>
    <div class="updates">
      <div class="offered">
        <div class="updatesHead">
          <h6>Offered</h6>
        </div>
        <div class="updateDetails">
          <img src="../../images/nodata.jpg" alt="nodata" />
          <p>No data found</p>
        </div>
      </div>
      <div class="accepted">
        <div class="updatesHead">
          <h6>Offer Accepted</h6>
        </div>
        <div class="candidateDetails">
          <div class="person">
            <p>Name:Prabin</p>
            <p>Joining Date: Invalid date</p>
          </div>
          <div class="person">
            <p>Name:Prabin</p>
            <p>Joining Date: Invalid date</p>
          </div>
          <div class="person">
            <p>Name:Prabin</p>
            <p>Joining Date: Invalid date</p>
          </div>
        </div>
      </div>
      <div class="rejected">
        <div class="updatesHead">
          <h6>Candidates Rejected</h6>
        </div>
        <div class="candidateDetails">
            <div class="person">
                <p>Name:Prabin</p>
                <p>Joining Date: Invalid date</p>
              </div>
              <div class="person">
                <p>Name:Prabin</p>
                <p>Joining Date: Invalid date</p>
              </div>
              <div class="person">
                <p>Name:Prabin</p>
                <p>Joining Date: Invalid date</p>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
