<div class="main">
  <div class="container">
    <div class="dashboardAndSort">
      <div class="dashboardHead">
        <h4>Candidate Dashboard</h4>
      </div>
      <div class="sort">
        <div class="interviewer">
          <label for="cars">Filter By:</label>
          <select id="cars">
            <option value="volvo" selected>Select interviewer</option>
            <option value="saab">Saab</option>
            <option value="vw">VW</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="role">
          <select id="cars">
            <option value="volvo" selected>Select Role</option>
            <option value="saab">Saab</option>
            <option value="vw">VW</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="calendar">
          <input
            type="text"
            matInput
            ngxDaterangepickerMd
            style="width: 180px"
            [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
            [(ngModel)]="selected"
            name="daterange"
            placeholder="DD-MM-YYYY~DD-MM-YYYY"
            #pickerr
          />
        </div>
      </div>
    </div>
    <div class="dashboardDetails">
      <div class="interviewDetails">
        <h5 class="detailReview">Yet to contact</h5>
        <h5 class="result">{{ data.yetToContact }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Screening</h5>
        <h5 class="result">{{ data.screening }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Design Task Given</h5>
        <h5 class="result">{{ data.designTaskGiven }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Design Technical Call</h5>
        <h5 class="result">{{ data.designTechCall }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Task Verification</h5>
        <h5 class="result">{{ data.taskVerification }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Round 1</h5>
        <h5 class="result">{{ data.Round_1 }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">ROund 2</h5>
        <h5 class="result">{{ data.Round_2 }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">HR Round</h5>
        <h5 class="result">{{ data.hrRound }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Offered</h5>
        <h5 class="result">{{ data.offered }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Offer Accepted</h5>
        <h5 class="result">{{ data.offerAccepted }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Offer Declined</h5>
        <h5 class="result">{{ data.rejected }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Joined</h5>
        <h5 class="result">{{ data.joined }}</h5>
      </div>
      <div class="interviewDetails">
        <h5 class="detailReview">Rejected</h5>
        <h5 class="result">{{ data.rejected }}</h5>
      </div>
    </div>
    <h4>Recent Updates</h4>
    <div class="updates">
      <div class="offered">
        <div class="updatesHead">
          <h6>Offered</h6>
        </div>
        <div class="updateDetails" *ngIf="offered == ''">
          <img src="../../images/nodata.jpg" alt="nodata" />
          <p>No data found</p>
        </div>
        <div class="candidateDetails" *ngFor="let offered of offered">
          <div class="person">
            <p>Name:{{ offered.firstName }}</p>
            <p>Joining Date: {{ offered.expectedJoiningDate | date }}</p>
          </div>
        </div>
      </div>
      <div class="accepted">
        <div class="updatesHead">
          <h6>Offer Accepted</h6>
        </div>
        <div class="updateDetails" *ngIf="offerAccepted == ''">
          <img src="../../images/nodata.jpg" alt="nodata" />
          <p>No data found</p>
        </div>
        <div class="candidateDetails" *ngFor="let offerAccept of offerAccepted">
          <div class="person">
            <p>Name:{{ offerAccept.firstName }}</p>
            <p>Joining Date: {{ offerAccept.modifiedDate | date }}</p>
          </div>
        </div>
      </div>
      <div class="rejected">
        <div class="updatesHead">
          <h6>Candidates Rejected</h6>
        </div>
        <div class="updateDetails" *ngIf="candidateReject == ''">
          <img src="../../images/nodata.jpg" alt="nodata" />
          <p>No data found</p>
        </div>
        <div
          class="candidateDetails"
          *ngFor="let candReject of candidateReject"
        >
          <div class="person">
            <p>Name:{{ candReject.firstName }}</p>
            <p>Joining Date: {{ candReject.expectedJoiningDate }}</p>
          </div>
        </div>
      </div>
      <div class="rejected">
        <div class="updatesHead">
          <h6>Candidates Joined</h6>
        </div>
        <div class="updateDetails" *ngIf="candidateJoined == ''">
          <img src="../../images/nodata.jpg" alt="nodata" />
          <p>No data found</p>
        </div>
        <div
          class="candidateDetails"
          *ngFor="let candJoined of candidateJoined"
        >
          <div class="person">
            <p>Name:{{ candJoined.firstName }}</p>
            <p>Joining Date: {{ candJoined.expectedJoiningDate | date }}</p>
          </div>
        </div>
      </div>
      <div class="rejected">
        <div class="updatesHead">
          <h6>Candidates Offer Declined</h6>
        </div>
        <div class="updateDetails" *ngIf="candidateDeclined == ''">
          <img src="../../images/nodata.jpg" alt="nodata" />
          <p>No data found</p>
        </div>
        <div
          class="candidateDetails"
          *ngFor="let candDeclined of candidateDeclined"
        >
          <div class="person">
            <p>Name:{{ candDeclined.firstName }}</p>
            <p>Joining Date: {{ candDeclined.expectedJoiningDate | date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
