.main {
    width: 100%;
    height: 100%;
    background-color: rgb(239, 237, 237);
}

.container {
    padding: 16px 30px;
}

.container h4 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 34px;
}

.dashboardAndSort {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

.role select {
    width: 170px;
    height: 40px;
    color: #575757;
    border: 1px solid #dddfe4;
    padding: 0px 12px;
    border-radius: 4px;
}

.interviewer label {
    color: #575757;
}

.calendar input {
    height: 40px;
    border: none;
    border-radius: 4px; 
    padding-left: 10px;
    padding-right: 32px;
}

.sort {
    display: flex;
    gap: 10px;
    align-items: center;
}

.updates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.interviewer label {
    font-size: 14px;
}
