.main {
    width: 100%;
    height: 100%;
    background-color: rgb(239, 237, 237);
}

.container {
    padding: 16px 30px;
}

.container h4 {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 34px;
}

.dashboardAndSort {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

.role select {
    width: 170px;
    height: 40px;
    color: #575757;
    border: 1px solid #dddfe4;
    padding: 0px 12px;
    border-radius: 4px;
}

.interviewer label {
    color: #575757;
}

.calendar input {
    height: 40px;
    border: none;
    border-radius: 4px; 
    padding-left: 10px;
    padding-right: 32px;
}

.sort {
    display: flex;
    gap: 10px;
    align-items: center;
}

.data-card {
    width: 32% !important;
    height: 383px !important;
    border-radius: 4px;
}

.candData {
    overflow: scroll;
}

.dashboardDetails {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    gap: 50px;
    justify-content: space-evenly;
    padding: 20px;
    padding-left: 80px;
}

.dashboardDetails>*{
    flex: 1 1 240px;
}

.interviewDetails{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.interviewDetails h5 {
    font-weight: 300;
}

.updates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
}

.offered {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    height: 500px;
}

.accepted {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    height: 500px;
}

.rejected {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    height: 500px;
    /* overflow: scroll; */
}

.updatesHead {
    /* border-bottom: 1px solid rgb(214, 212, 212); */
    border-bottom: 1px solid #f1f1f1;
    padding: 14px 20px;
}

.updateDetails {
    width: 80px;
    height: 80px;
    margin: auto;
}

.updateDetails p {
    width: 102px;
    font-size: 12px;
    font-weight: 500;
}

.updateDetails img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.updatesHead h6 {
    /* padding: 15px; */
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
}

.candidateDetails {
    display: flex;
    flex-direction: column;
}

.person {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px 20px;
    /* border-bottom: 1px solid rgb(214, 212, 212); */
    border-bottom: 1px solid #f1f1f1;
}

.candName {
    display: flex;
    justify-content: space-between;
}

.candName strong {
    font-size: 14px;
    color: #191919;
}

.person strong {
    font-weight: bold;
}

.person p {
    font-size: 12px;
    font-size: 13px;
    color: #191919;
    font-weight: 400;
}

.interviewer label {
    font-size: 14px;
}

/* ::ng-deep ngx-daterangepicker-material 
    .md-drppicker {
       min-width: 540px !important;
       top: 150px !important;
       left: 1200px !important;
    } */
  