<div class="main">
  <div class="container">
    <div (click)="goBack()" class="backBtn">
      <p><img src="../../images/goback.svg" alt="back" /> Back</p>
    </div>
    <div class="content">
      <div class="heading">
        <div class="headAndEdit">
          <div class="detailAndPipe">
            <ul>
              <li [class.active]="detailsClicked" (click)="details()">
                Details
              </li>
              <li [class.active]="pipelineClicked" (click)="pipeLine(data._id)">
                Pipeline
              </li>
            </ul>
          </div>
          <div class="editBtn">
            <p
              class="viewResume"
              (click)="resumeClick(data.resume)"
              *ngIf="data.resume && detailBtn == true"
            >
              View Resume
            </p>
            <span *ngIf="detailBtn == true" class="updatedStatus">{{
              data.status
            }}</span>
            <div *ngIf="detailBtn == true" class="dropdown">
              <ul class="editOption">
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <div class="dropdown-content">
                <button type="button" (click)="editBtn()" class="editDetails">
                  Edit
                </button>
              </div>
            </div>
            <button
              class="changeStatus"
              *ngIf="detailBtn == false"
              type="button"
              (click)="changeStatus()"
            >
              Change Status
            </button>
          </div>
        </div>
      </div>
      <app-details
        *ngIf="detailBtn == true"
        [sidenavOpen]="sidenavOpen"
        [bgDark]="bgDark"
      ></app-details>
      <app-candidate-pipeline
        *ngIf="pipeLineBtn == true"
        [candidateStatus]="candidateStatus"
        [isCandidate]="isCandidate"
      ></app-candidate-pipeline>
    </div>
  </div>
</div>
