.main {
  width: 100%;
  height: 100%;
  background-color: rgb(239, 237, 237);
}

.container {
  padding: 15px;
}

.content {
  background-color: #fff;
  padding: 15px;
}

.headAndEdit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detailSec * {
  flex-basis: 25%;
}

.detailSec h5 {
  font-size: 600;
  font-size: 15px;
}

.detailSec h6 {
  font-weight: 400;
  font-size: 14px;
}

.editBtn button {
  width: 60px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.content .heading {
  /* padding: 15px; */
}

.content .heading ul {
  display: flex;
  gap: 10px;
}

.content .heading ul li {
  list-style-type: none;
  cursor: pointer;
}

.details {
  /* padding: 10px; */
  flex-basis: 46%;
}

.details input {
  width: 100%;
}

.head h4 {
  border-bottom: 1px solid rgb(182, 180, 180);
  padding-bottom: 10px;
}

.detailSec {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;
}

.professionalDetails {
  padding-top: 50px;
}

.address {
  padding-top: 100px;
}

.addressContent {
  display: flex;
  padding-top: 10px;
}

.addressDet {
  display: flex;
  gap: 25%;
}

.addressContent textarea {
  border: 1px solid rgb(222 222 222);
  border-radius: 3px;
}

.sidenav {
  position: fixed;
  top: 0;
  right: -700px;
  height: 100%;
  width: 700px;
  z-index: 1;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}

.closeBtn {
  display: flex;
  justify-content: right;
}

.closeBtn a {
  flex-basis: 6%;
}

.closeBtn img {
  width: 100%;
}

.editHeading h3 {
  flex-basis: 60%;
}

.closeBtn button {
  color: #fff;
  background-color: red;
  border: none;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.docDetails .editHeading {
  display: flex;
}

.sidenav-open {
  right: 0;
  box-shadow: 3px 3px 30px 6px #ccc;
}

.detailSect {
  display: flex;
  /* gap: 150px; */
  align-items: center;
  /* padding-left: 50px; */
  padding-top: 10px;
}

.editHeading {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.detailSect input {
  min-width: 200px;
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 3px;
}

.detailSect select {
  width: 100%;
  height: 25px;
  background-color: rgb(233 233 233);
  border: 1px solid rgb(222 222 222);
}

.profSect {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 95%;
  /* padding-left: 50px; */
  padding-top: 10px;
}

.profSect input {
  min-width: 80px;
  height: 25px;
  border: 1px solid rgb(187, 186, 186);
}

.detailTwo {
  flex-basis: 46%;
}

.detailTwo input {
  width: 100%;
}

.detailTwo select {
  /* width: 150px; */
  width: 100%;
  background-color: rgb(233 233 233);
  height: 25px;
  border: 1px solid rgb(222 222 222);
  border-radius: 3px;
}

.notes {
  padding: 10px;
}

.closeBtn a {
  cursor: pointer;
}

.notes textarea {
  border: 1px solid rgb(222 222 222);
  border-radius: 3px;
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}

.currentAddress label {
  padding-left: 10px;
}

.submitBtn button {
  color: #ffffff;
  background: black;
  padding: 8px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expHead {
  display: flex;
  gap: 280px;
}

.pipeLine .status {
  border-bottom: 1px solid #dddfe4;
  padding-top: 15px;
}

.pipeLine .status h3 {
  padding-bottom: 16px;
  font-size: 18px;
  color: #575757;
}

.pipeLine .status p {
  padding-bottom: 12px;
  font-size: 16px;
  color: #575757;
}

.changeStatus {
  background-color: #191919 !important;
  text-decoration: none;
  height: 36px;
  display: flex;
  border-radius: 4px !important;
  justify-content: center;
  align-items: center;
  padding: 0px 14px !important;
  border: 1px solid #191919 !important;
  box-shadow: none !important;
  min-width: 120px;
}

/* dropdown */

.editCandidateStatus {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #01010187;
}
.editCand {
  padding: 24px;
  border-radius: 18px;
  min-width: 500px;
  /* height: 400px; */
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  left: 35%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.editCandHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 0 0 12px;
}
.editCandHead h3 {
  font-size: 28px;
  line-height: 42px;
}
.editCandHead img {
  cursor: pointer;
}
.editCand form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
}
.editCand form label {
  font-size: 14px;
  color: #575757;
}
.editAdmin form input {
  padding: 5px;
  border: 1px solid #dddfe4;
  color: #575757;
}
.editCand form select {
  padding: 5px;
  border: 1px solid #dddfe4;
  color: #575757;
}
.editCand form button {
  min-width: 120px;
  cursor: pointer;
  background-color: #191919;
  color: #fff;
  text-decoration: none;
  height: 36px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0px 14px;
  border: 1px solid #191919;
}
.changeCandStatus {
  display: flex;
  flex-direction: column;
}
.candidatesComments {
  display: flex;
  flex-direction: column;
}
.statusSubmit {
  display: flex;
  justify-content: flex-end;
}
.candidatesComments span {
  font-size: 12px;
  color: #868889;
}
