.detailSec * {
  flex-basis: 25%;
}

.detailSec h5 {
  font-size: 600;
  font-size: 15px;
}

.detailSec h6 {
  font-weight: 400;
  font-size: 14px;
}

.details {
  flex-basis: 46%;
}

.details input {
  width: 100%;
}

.head h4 {
  border-bottom: 1px solid rgb(182, 180, 180);
  padding-bottom: 10px;
}

.detailSec {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;
}

.professionalDetails {
  padding-top: 50px;
}

.address {
  padding-top: 100px;
}

.addressContent {
  display: flex;
  padding-top: 10px;
}

.addressDet {
  display: flex;
  gap: 25%;
}

.addressContent textarea {
  border: 1px solid rgb(222 222 222);
  border-radius: 3px;
}

.openNav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #01010187;
}

.sidenav {
  position: fixed;
  top: 0;
  right: -700px;
  height: 100%;
  width: 700px;
  z-index: 1;
  background-color: #fff;
  overflow: scroll;
  transition: 0.5s;
  padding: 15px;
}

.sidenav label {
  font-size: 14px;
  font-weight: 400;
  color: #575757;
}

.closeBtn {
  display: flex;
  justify-content: right;
}

.closeBtn a {
  flex-basis: 6%;
}

.closeBtn img {
  width: 100%;
}

.editHeading h3 {
  flex-basis: 60%;
  font-size: 22px;
  line-height: 34px;
  color: #575757;
}

.educationDet {
  display: flex;
  justify-content: space-between;
}

.educationDet button {
  height: 22px;
}

.degreeName {
  display: flex;
  flex-direction: column;
}

.closeBtn button {
  color: #fff;
  background-color: red;
  border: none;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.docDetails .editHeading {
  display: flex;
}

.sidenav-open {
  right: 0;
}

.detailSect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.detailSect .resumeDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.otherofferDetails {
  display: flex !important;
  gap: 10px;
}

.otherofferDetails select {
  width: 100% !important;
}

.otherOfferLpa {
  flex-basis: 50%;
}

.otherofferDrop {
  flex-basis: 50%;
}

.detailSect .details span {
  color: #1675e0;
  padding-left: 30px;
  cursor: pointer;
}

.otherofferDrop {
  width: 50% !important;
}

.editHeading {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.detailSect input {
  min-width: 200px;
  border: 1px solid #dddfe4;
  height: 36px;
  border-radius: 4px !important;
  resize: none;
}

.detailSect select {
  width: 100%;
  height: 25px;
  background-color: rgb(233 233 233);
  border: 1px solid rgb(222 222 222);
}

.profSect {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  /* padding-left: 50px; */
  padding-top: 10px;
}

.profSect input {
  min-width: 80px;
  border: 1px solid #dddfe4;
  height: 36px;
  border-radius: 4px !important;
  resize: none;
}

.expDetails {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 50%;
  align-items: center;
}

.detailTwo {
  flex-basis: 46%;
}

.detailTwo input {
  width: 100%;
}

.detailTwo select {
  width: 100%;
  background-color: #efefef;
  border: 1px solid #dddfe4;
  height: 25px;
  border-radius: 3px;
  height: 36px;
  padding: 0px 12px;
  border-radius: 4px !important;
  resize: none;
}

.notes {
  padding: 10px;
}

.closeBtn a {
  cursor: pointer;
}

.notes textarea {
  border: 1px solid rgb(222 222 222);
  border-radius: 3px;
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}

.currentAddress label {
  padding-left: 10px;
}

.submitBtn button {
  color: #ffffff;
  background: black;
  padding: 8px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expHead {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
